header{
	display: none;
}
#main{
	top: 0;
}
.category-head{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 1.2rem;
	width: 100%;
	background: #d81e06;
	z-index: 2;
}
.category-head b{
	line-height: 1.2rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	color: white;
}
.category-head span{
	padding: .2rem 0;
	height: .8rem;
	position: absolute;
}
.category-head span img{
	height: 100%;
	vertical-align: middle;
}
.category-all{
	width: 100%;
	position: absolute;
	left: 0;
	top: 1.2rem;
}
.category_ul{
	display: none;
}
.category_page{
	width: 100%;
	display: none;
}
.category_ladies[data-pm='wireless1002']{
	display: block;
}
.category_men[data-pm='wireless1004']{
	display: block;
}
.category_shoes[data-pm='wireless1009']{
	display: block;
}
.category_home[data-pm='wireless1006']{
	display: block;
}
.category_beauty[data-pm='wireless3853']{
	display: block;
}
.category_digital[data-pm='wireless3296']{
	display: block;
}
.category_children[data-pm='wireless1011']{
	display: block;
}
.category_baby[data-pm='wireless1012']{
	display: block;
}
.category_bags[data-pm='wireless1010']{
	display: block;
}
.category_foods[data-pm='wireless1008']{
	display: block;
}
.category_bras[data-pm='wireless1003']{
	display: block;
}
.category_textiles[data-pm='wireless1005']{
	display: block;
}
.category_accessories[data-pm='wireless1013']{
	display: block;
}
.category_motion[data-pm='wireless1015']{
	display: block;
}
.category_elderly[data-pm='wireless3469']{
	display: block;
}
.category_page li{
	width: 17%;
	float: left;
	padding: 4%;
	background: #fff;
}
.category_page li img{
	width: 100%;
}
.category_page dd{
	text-align: center;
	line-height: 0.5rem;
}
.category-all ul:nth-child(1){
	display: none;
}
.category-all_p{
	clear: both;
	height: 0.9375rem;
	padding: 0.15625rem 0.3125rem;
	border-top: 0.15625rem solid #F5F5F5;
	border-bottom: 1px solid #EEEEEE;
	background: white;
	display: flex;
}
.category-all_p span{
	display: block;
	width: 20%;
	font-size: 0.4375rem;
	line-height: 0.95rem;
	text-align: center;
	box-sizing: border-box;
	border-right: 1px solid #D9D9D9;
	font-family: "微软雅黑";
}
.category-all_p span:nth-child(5){
	border-right: 1px solid white;
}
.ategory_ladies-all{
	clear: both;
	background: #fff;
}
.ategory_ladies-all li dl{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
.ategory_ladies-all li dt{
	padding: 2%;
	width: 36%;
}
.ategory_ladies-all li img{
	width: 100%;
}
.ategory_ladies-all li dd{
	width: 56%;
	padding: 4% 2%;
	height: 100%;
}
.ladies-all_p1{
	white-space: wrap;
	font-size: 0.5rem;
	line-height: 0.75rem;
}
.ladies-all_p2{
	line-height: 1rem;
}
.ladies-all_p2 span:nth-child(1){
	font-size: .5rem;
	color: #e63b53;
	font-family: "微软雅黑";
}
.ladies-all_p2 span:nth-child(2){
	text-decoration: line-through;
}
.ladies-all_p3{
	width: 56%;
	position: absolute;
	bottom: 4%;
	line-height: 1rem;
	display: flex;
	flex-wrap: nowrap;
}
.ladies-all_p3 span:nth-child(1){
	display: block;
	width: 20%;
}
.ladies-all_p3 span:nth-child(2),
.ladies-all_p3 span:nth-child(3){
	display: block;
	width: 40%;
}
.ladies-all_p3 span:nth-child(1) b,
.ladies-all_p3 span:nth-child(2) b{
	color: #fd7d45;
	font-weight: normal;
}
.ladies-all_p4{
	width: 1rem;
	position: absolute;
	right: 10%;
	bottom: 25%;
}
.ladies-all_p4 img{
	width: 100%;
}